
{% load static %}

<footer class="section-footer border-top" style="background-color: antiquewhite;bottom: 0px;">
	<div class="container">
		<section class="footer-bottom border-top row" >
			<div class="col-md-6"  style="font-size:30px;">
				<p class="text-md-center"> @NilamiGhar </p>
			</div>
			<div class="col-md-6 text-md-center">
				 <!-- <p  class="px-3">info@pixsellz.io</p> -->
				 <p class="px-3">email: nilamighar@gmail.com</p>  
				<p class="px-3">Tansa Hostel,IIT-Bombay</p>
			</div>
			<!-- <div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div> -->
		</section>
	</div><!-- //container -->
</footer>